
    
 <div class="container mt-4">
    <div class="card">
  <div class="card-header">
  <h1>New Article</h1>
  </div>
  <div class="card-body">
  <%= form_with scope: :article, url: articles_path, local: true do |f| %>
    <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
 

    </p>
    <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
    </p>
    <p>
    <%= f.submit class:"btn btn-success" %>
    </p>
    <% end %>
    <%= link_to 'Cancel and return to articles listing', articles_path, class:"btn btn-primary" %> 
    
  </div>
</div>
</div>