<div class="container" id="personal_index">
<h1 style="text-align:center";>Personal Details listing page</h1>
<%= link_to 'Download as .xlsx', personalinfos_path(format: :xlsx) %>
<table class="table table-hover">
<thead>
<tr>
<th>Name</th>
<th>Date-of-Birth</th>
<th>Gender</th>
<th>Blood Group</th>
<th>Email</th>
<th>Mobile Number</th>
<th>Address</th>
<th>State</th>
<th>Country</th>
</tr>
</thead>

<% @personalinfos.each do |personalinfo|%>
<tr>
<td><%= personalinfo.name %></td>
<td><%= personalinfo.date_of_birth %></td>
<td><%= personalinfo.gender %></td>
<td><%= personalinfo.blood_group %></td>
<td><%= personalinfo.email %></td>
<td><%= personalinfo.mobile_number %></td>
<td><%= personalinfo.address %></td>
<td><%= personalinfo.state %></td>
<td><%= personalinfo.country %></td>
<td><%= link_to "Show", personalinfo_path(personalinfo), class: "btn btn-outline-success" %></td>
<td><%= link_to "Edit", edit_personalinfo_path(personalinfo), class: "btn btn-outline-primary" %></td>
<td><%= link_to "Delete", personalinfo_path(personalinfo), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %></td>

</tr>
<% end %>
</table>
</div>


