<div class= "container">
<h1 style="text-align: center">Add Personal Information</h1>

<%= form_with scope: :personalinfo, url: personalinfos_path, local: true do |f| %>
<form>
<div class="row g-3">
  <div class="col">
<%= f.label :name, class:"form-label"%>
<%= f.text_field :name, class:"form-control"%>
</div>
<div class="col">
<%= f.label :email, class:"form-label" %>
<%= f.text_field :email, class:"form-control" %>

</div>
  <div class="col">
  <%= f.label :mobile_number, class:"form-label" %>
<%= f.text_field :mobile_number, class:"form-control" %><br/>
</div>
</div>
<div class="row g-3">
  <div class="col">

<%= f.label :blood_group, class:"form-label" %>
<%= f.text_field :blood_group, class:"form-control" %><br/>
</div>

<div class="col">
<%= f.label :date_of_birth, class:"form-label" %>
<%= f.text_field :date_of_birth, class:"form-control" %><br/>
</div>
<!--<div class="col">
<form action="/action_page.php">
  <label for=":date_of_birth">D.O.B</label><br/>
  <input type="date" id="date_of_birth" name="date_of_birth">
</form>
</div>-->

<div class="col">
<%= f.label :gender, class:"form-label" %>
<%= f.text_field :gender, class:"form-control" %><br/>
</div>
</div>
<div class="row g-1">

<div class="col-12">
<%= f.label :address, class:"form-label" %>
<%= f.text_area :address, class:"form-control" %><br/>
</div>
</div>
<!--<script type="text/javascript">
jQuery(function($) {
  $("#state_id").change(function() {
    var state = $('select#state_id :selected').val();
    if(state == "") state="0";
    jQuery.getJSON('/personalinfos/new/' + state, function(data){
        $("#state_textbox").val(data.message);
    })
    return false;
  });
})
</script>

<div class="col-md-6">
  <%= f.label :state %><br/>
  <%= f.text_field :state, class:"form-control" %>
    <select class="form-control">
    <option value="1">----Nil----</option>
    <option value="2">Andhra pradesh</option>
    <option value="3">Arunachala pradesh</option>
    <option value="4">Assam	</option>
    <option value="5">Bihar	</option>
    <option value="6">Chattisgarh	</option>
    <option value="7">Goa</option>
    <option value="8">Gujarat	</option>
    <option value="9">Haryana</option>
    <option value="10">Himachal Pradesh</option>
    <option value="11">Jharkhand</option>
    <option value="12">Karnataka	</option>
    <option value="13">Kerala</option>
    <option value="14">Madhya Pradesh</option>
    <option value="15">Maharashtra	</option>
    <option value="16">Manipur	</option>
    <option value="17">Meghalaya	</option>
    <option value="18">Mizoram	</option>
    <option value="19">Nagaland	</option>
    <option value="20">Odisha	</option>
    <option value="21">Punjab	</option>
    <option value="22">Rajasthan	</option>
    <option value="23">Sikkim	</option>
    <option value="24">Tamil Nadu	</option>
    <option value="25">Telangana	</option>
    <option value="26">Tripura	</option>
    <option value="27">Uttar Pradesh	</option>
    <option value="28">Uttarakhand		</option>
    <option value="29">West Bengal		</option>
  </select>
</div>-->
<div class="row g-2">
<div class="col-2">
<%= f.label :state, class:"form-label" %>
<%= f.text_field :state, class:"form-control" %><br/>
</div>
<div class="col-2">
<%= f.label :country, class:"form-label" %>
<%= f.text_field :country, class:"form-control" %><br/>
</div>
</div>
 
<div class="col-12" id="info_button">
<%= f.submit "Submit", class:"btn btn-primary" %>
<% end %>
  </div>
  



