<div class="container">
<h1>show personal details</h1>

<p><strong>Name:</strong><%= @personalinfos.name %></p>
<p><strong>Date-Of-Birth:</strong><%= @personalinfos.date_of_birth %></p>
<p><strong>Gender:</strong><%= @personalinfos.gender %></p>
<p><strong>Blood Group:</strong><%= @personalinfos.blood_group %></p>
<p><strong>Email:</strong><%= @personalinfos.email %></p>
<p><strong>Mobile Number:</strong><%= @personalinfos.mobile_number %></p>
<p><strong>Address:</strong><%= @personalinfos.address %></p>
<p><strong>State:</strong><%= @personalinfos.state %></p>
<p><strong>Country:</strong><%= @personalinfos.country %></p>

</div>

